body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.sec-0 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin: 0;
    padding-top: 8px;
    padding-left: 64px;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    padding-right: 64px;
    padding-top: 8px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    padding-right: 32px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding-left: 24px;
    margin-bottom: 0px;
    margin-top: 64px;
}

.left p{
    padding-left: 24px;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: "extra-bold";
}

.left button{
    background-color: #3c83f6;
    border: 0px;
    color: #E5E7EB;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 24px;
    margin-top: 0px;
    border-radius: 4px;
    font-weight: bold;
}

.sec-0-image {
    width: 400px;
    height: 200px;
    margin-top: 64px;
    background-color: gray;
}

.header-content {
    display: flex;
    padding-left: 48px;
    padding-bottom: 64px;
    justify-content: center;
}

.sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    gap: 32px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

}

.box p{
    width: 150px;
    text-align: center;
    margin-top: 4px;
}

.sec-1-img {
    width: 150px;
    height: 150px;
    border: 3px solid #3c83f6;
    border-radius: 4px;
}

.sec-2{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-2 .quote {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    color: #1F2937;
    padding-top: 64px;
    padding-left: 300px;
    padding-right: 300px;
}

.sec-2 p{
    align-self: flex-end;
    padding-right: 400px;
    margin-top: 0px;
    padding-bottom: 50px;
    font-weight: bold;
}

.sec-3 {
    display: flex;
    justify-content: center;
}

.smaller-box {
    width: 600px;
    height: 85px;
    background-color: #3B82F6;
    display: flex;
    color: #E5E7EB;
    justify-content: center;
    border-radius: 4px;
    margin: 48px;
}

.box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-text {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}

.bottom-text {
    margin: 0px;
    font-size: 16px;
}

.box-right {
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.box-right button{
    background-color: #3B82F6;
    color: #E5E7EB;
    border: 1px solid#E5E7EB ;
    border-radius: 3px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 12px;
}

a:link, a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

